body {
    background-color: #F7F7F7;
}

#main-div {
    margin: auto;
    width: 60%;
    padding: 10px;
    animation: glow 5s infinite;
}

#game-name {
    color: #5D5D5D;
    font-size: 60px;
    animation: pulse 5s;
}

.player {
    background-color: aqua;
}

.computer {
    background-color: blueviolet;
}

@keyframes pulse {
    0% {
      color: #F7F7F7;
    }
    100% {
      color: #5D5D5D;
    }
  }

@keyframes glow {
    50% {text-shadow: 5px 5px 10px #E5D429;}
}
